body {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 18px;
}

p {
    font-size: 14px;
    font-family: Open Sans;
}

header {
    background-image: url(../image/bg-hero-desktop.svg); 
    background-position: -50px 0px;
    background-color: aliceblue;
    height: 675px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

img.header-logo {
    height: 30px;
    margin-left: 20px;
}

button.header-btn {
   margin-right: 20px;
    padding: 8px 40px;
    border-radius: 17px;
    background: white;
    border: 2px solid #fff;
    font-weight: 800;
    box-shadow: 0px 1px 3px 2px #00252e12;
}

.hero-box {
    display: flex;
    justify-content: space-between;
}

h3.hero-title {
    font-size: 36px;
    font-family: poppins;
    margin-top: 144px;
    margin-left: 61px;
}

p.hero-desc {
   font-size: 14px;
    padding-left: 61px;
}

button._call-to-action {
    padding: 12px 27px;
    border-radius: 20px;
    margin-left: 61px;
    margin-top: 19px;
    background: hsl(322, 100%, 66%);
    border: 2px solid hsl(322, 100%, 66%);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

img.mockups-img {
    width: 88%;
    height: 490px;
    float: right;
    padding-right: 56px;
    padding-top: 46px;
}

.main-box {
    display: flex;
    justify-content: space-evenly;
}

.main-box {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #fff;
    margin: 30px 94px;
    box-shadow: 0px 1px 2px 2px #f4f4f4;
    border-radius: 10px; 
}
img.wrapper-img {
  width: 55%;
    float: right;
    margin: 25px 73px;  
}
h2.body-title {
     margin-top: 75px;
    margin-left: 100px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: -6px;
}
p.body-desc {
    padding: 0px 100px; 
}

.wrapper-img-reversed {
    width: 55%;
    float: left;
    margin: 25px 100px;
}

.body-title-reversed {
    margin-top: 60px;
    /* margin-right: 102px; */
    margin-left: 53px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: -6px;
}
.body-des-reversed {
    padding: 0px 52px;
}

.top-box {
    margin-top: 150px;
}

.middle-box {
    position: relative;
    margin-top: 250px;
}
.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid white;
    margin: -145px 250px 0px 365px;
    height: 221px;
    z-index: 1;
    box-shadow: 0px 0px 12px 0px #f4f4f4;
    border-radius: 10px;
    position: absolute;
    background: #ffffff
}

h2.build-title {
   margin: 37px 80px 62px 80px;
   font-size: 28px;
   font-family: Poppins;
   font-weight: 600;
}
button.build-btn {
    margin: -30px 20px 0px 20px;
    padding: 20px 90px;
    background: hsl(322, 100%, 66%);
    border: 2px solid hsl(322, 100%, 66%);
    border-radius: 32px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.main-footer {
    position: relative;
}
._footer {
    display: flex;
    justify-content: space-between;
    border: 2px solid #fff;
    margin-bottom: -14px;
    margin-top: 30px;
    height: 350px;
    background: hsl(268deg 91% 5%);
}

.footer-logo {
    height: 34px;
    margin-top: 85px;
    margin-left: 85px;
}

._address {
    display: flex;
    justify-content: space-between;
}

img.address-icon {
    margin-top: 14px;
    margin-left: 72px;
    padding: 9px 12px;
}

p.address-para {
    margin-top: 26px;
    margin-left: 10px;
    color: white;
    outline-color: hsl(268deg 91% 5%);
    font-size: 14px;
    font-family: "Open Sans";
}
ul.footer-links {
    list-style: none;
    margin-top: 140px;
}

ul.footer-links li {
    padding: 2px 0px;
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
}

ul.social-media-links {
    list-style: none;
    margin-top: 140px;
}

ul.social-media-links li {
   display: inline;
    color: white;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 24px;
}

ion-icon {
    font-size: 16px;
}

p.copy-info {
    font-size: 14px;
    font-family: "Open Sans";
    padding-top: 100px;
    padding-right: 59px;
    color: white;
}